
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= image_tag "logo-no-text.png",size: "200x50", alt: "Company Logo" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <% @active_home = controller.controller_path == 'home' && controller.action_name == 'index' ? "active" : ""%>
          <a class="nav-link <%=@active_home%>" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <% @active_tasks = controller.controller_path == 'task_lists' ? "active" : ""%>
          <a class="nav-link <%=@active_tasks%> " href="/task_lists">Tarefas</a>
        </li>
        <li class="nav-item">
          <% @active_purchases = controller.controller_path == 'purchases' ? "active" : ""%>
          <a class="nav-link <%=@active_purchases%>" href="/purchases">Compras</a>
        </li>
        
        
      </ul>
      <div class="nav-item dropdown user-options">
          <% if user_signed_in? %>
          <button class="nav-link dropdown-toggle" data-bs-toggle="dropdown" >
            <%= current_user.name %>
          </button>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "Editar perfil", edit_user_registration_path, class: "btn" %>
            </li>
            <li>
              <%= link_to 'Sair', destroy_user_session_path, data: {turbo_method: :delete}, class: 'btn' %>
            </li>
          </ul>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
          <% end %>
      </div>
    </div>
  </div>
</nav>

