<div class='w-100'>
<%= link_to "Voltar", :back , class: 'btn btn-secondary'%>
</div>
<h2>Editar informações pessoais</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-floating d-flex flex-column gap-3 align-items-center",method: :put}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label "Nome", class:'form-floating'%>
    <%= f.text_field :name, autofocus: true ,class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :email, class:'form-label' %>
    <%= f.email_field :email,  autocomplete: "email",class:'form-control', id:'floatingEmail'%>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label "Senha" , class:'form-label'%> <i>(deixe em branco para manter a mesma)</i>
    <%= f.password_field :password, autocomplete: "new-password",class:'form-control' %>
    <% if @minimum_password_length %>
      <br />
      <em>mínimo de <%=@minimum_password_length %> caracteres </em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label "Confirmar nova senha", class:'form-label' %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class:'form-control' %>
  </div>
  <br>
  <div class="field">
    <%= f.label "Senha atual, necessária para atualizar", class:'form-label' %> 
    <%= f.password_field :current_password, autocomplete: "current-password",class:'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Salvar", class: 'btn btn-primary' %>
  </div>
<% end %>

<h3>Zona perigosa</h3>

<%= button_to "Excluir conta", registration_path(resource_name), data: { confirm: "Deseja mesmo excluir a conta", turbo_confirm: "Are you sure?" }, method: :delete, class:'btn btn-danger' %>

