<div id="<%= dom_id task %>">
  <div class='modal-header'>
    <h3 class='modal-title display-5'><%= task.name %></h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class='container p-2'> 
    <div>
    <h4>Descrição</h4>
      <p>
      <% if task.description.present? %>
        <%= task.description %>
      <% else %>
        Nenhuma descrição adicionada
      <% end %>
      </p>
    </div>
    <div>
      <h4>Status</h4>
      <p>
      <%= task.status %>
      </p>
    </div>
    <div>
      <h4>Prioridade</h4>
      <p>
      <%= task.priority_name %>
      </p>
    </div>
    <div>
      <h4>Data limite</h4>
      <span class='badge rounded-pill text-bg-primary'><%= format_date(task.due_date) %></span>
    </div>
  </div>
</div>
