<p style="color: green"><%= notice %></p>

<%= render @task %>

<div>
  <%= link_to "Editar tarefa", edit_task_path(@task,action_name: "Editar") %> |
  <%= link_to "Back to tasks", tasks_path %>

  <%= button_to "Destroy this task", @task, method: :delete %>
</div>
