<div class='d-flex flex-column align-items-start container-lg min-vh-100 gap-5'>
<p style="color: green"><%= notice %></p>

<%= link_to "Voltar para todas as listas", purchases_path, class: 'btn btn-secondary' %>

<%= render @purchase %>

<%= link_to "Adicionar item", new_purchase_purchase_link_path(purchase_id: @purchase.id), class: 'btn btn-primary', data: {turbo_frame: 'modal'} %>

<div>
  <%= link_to "Editar lista", edit_purchase_path(@purchase), class:'btn btn-primary' %> |

  <%= button_to "Remover lista de compras", @purchase, method: :delete , data: {'turbo-confirm': 'Deseja mesmo remover a lista de compras'}, class: 'btn btn-danger' %>
</div>
</div>
