<%= form_with(model: [@purchase,@purchase_link], html: { class: 'form-group d-flex flex-column gap-3' }) do |form| %>
  <% if purchase_link.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(purchase_link.errors.count, "error") %> prohibited this purchase_link from being saved:</h2>

      <ul>
        <% purchase_link.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= form.label :url, style: "display: block" %>
    <%= form.text_field :url ,class: 'form-control' %>
  </div>

  <div class='form-group w-25'>
    <%= form.label "Preço (R$)", style: "display: block" %>
    <%= form.text_field :value,class: 'form-control' %>
  </div>
  <div>
    <%= form.submit action_name ,class:'btn btn-primary' %>
  </div>
<% end %>
